body {
font-family: 'Roboto', sans-serif;
}

.container {
    padding: 20px;
}
.number {
    height: 35px;
    font-size: 16px;
    text-align: right;
    border-radius:5px;
    
}
.selectpicker {
    height: 35px;
    font-size: 16px;
    border-radius: 5px;
}

#date{
    margin-left: 10%;
}
select{
    margin-bottom: 5px;
}
td{
    padding-top: 20px;
    padding-left: 20px;
    padding-bottom: 5px;
}
.heading {
    text-align: center;
}
.navbar {
    letter-spacing: 5px;
    background-color: #42DCA3;
    font-family: 'Ubuntu', sans-serif;
    border: solid 0.5px #42DCA3;
    border-radius: 5%;
}
h2 {
    letter-spacing: 4px;
    margin-bottom: 20px;
}

th {
    font-weight: bolder;
    letter-spacing: 3px;
}

.forexBox{
    margin-right: -20%;
    margin-left: -10%;
    border: 2px black solid;
    border-radius: 5px;
    background: #fff;
    margin-top: 9em;
    

}

.forexTitle{
    text-align: center;
    height: 30%;
    background: #42DCA3;
    padding-top: 1%;
    
}
.forexTitle i{
    background: #fff;
    padding: 4px;
    border-radius: 15px;
    border: 2px solid #000;
}

.rate-table{
    overflow:scroll;
    height: 15.5em;
    width: 100%;
    overflow:auto;
}
.rate-table-box{
    margin-top: 6em;
    border: 2px solid black;
    border-radius: 5px;
}
.forexTitle-table{
    text-align: center;
    height: 30%;
    background: #42DCA3;
    margin-top:  0;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 5px;
    padding-right: 5px;
    vertical-align: middle;
}
.table-heading
{
    font-size: 1.3em;
    
}